body{
    height: 100vh;
    background-image: url("images/background.jpg");
}
.header{
    height: 20%;
}
.zoom{
    position: center;
    display: inline-block;
    height: 25%;
    width: 25%;
}
 .bottomArea{
     height: 75%;
 }
.gameInfoArea{
    vertical-align: top;
    display: inline-block;
    height: 100%;
    width: 15%;
}
.gamesPlayed{

}
.accuracy{

}
.attempts{

}
.gameArea{
    height: 100%;
    width: 84%;
    display: inline-block;
}
.cardContainer{
    width: 16.66%;
    float: left;
    height: 33.33%;
    margin: auto;
    display: flex;
}
.card{
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    position: relative;
}
.front, .back{
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
}
.front{
}
.back{
    background-image: url("images/back.jpg");
}
.hide {
    display: none;
}
.imageMod{
    width:85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
