body{
    height: 100vh;
    background-color: #122b40;
}
.header{
    height: 25vh;
    background-color: darkgrey;
    display: flex;
}.logo{
    height: 15%;
    width: 15%;
    background-color: #cd0a0a;
    position: center;
     display: flex;
 }
 .bottomArea{
     background-color: darkmagenta;
     height: 100vh;
 }
.gameArea{
    height: 100%;
    width: 80%;
    background-color: tan;
    display: inline-block;
}
.gameInfoArea{
    vertical-align: top;
    background-color: cyan;
    display: inline-block;
    height: 100%;
    width: 18%;
}
.cardContainer{
    width: 16.66%;
    background-color: orange;
    float: left;
    height: 33.33%;
    margin: auto;
    display: flex;
}
.card{
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    background-color: orange;
    position: relative;
}
.front, .back{
    height: 100%;
    width: 100%;
    position: absolute;
}
.front{
    background-color: teal;
}
.back{
    background-color: yellow;
}
.card:hover>.back{
    display: none;
}